{% extends "base.html" %}

{% block content %}
<h1>Analytics</h1>

{% if urls %}
    <table class="analytics-table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Clicks</th>
        </tr>
    </thead>
    <tbody>
        {% for u in urls %}
        <tr>
            <td><a href="{{ u.url }}">{{ u.url }}</a></td>
            <td>
                {% if u.short_codes%}
                    <a href="{{ url_for('pages.redirect_to_url', short_code=u.short_codes[0].code) }}" target="_blank">{{ u.short_codes[0].code }}</a>
                {% else %}
                    null
                {% endif %}
            </td>
            <td>{{ u.short_codes[0].clicks|length }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No analytics available.</p>
{% endif %}

{% endblock %}